<<<<<<< HEAD
<h3>提交简历到－ <%= @job.title%></h3>
<hr>

<%= simple_form_for [@job, @resume] do|f|%>

  <%= f.input :content %>
  <%= f.input :attachment %>
=======
<h3> 提交简历到 <%= @job.title %></h3>

<hr>

<%= simple_form_for [@job, @resume] do |f|%>
  <%= f.input :content %>
  <%= f.input :attachment%>
>>>>>>> 249c59f7fd423d9065354d047b739071c48434e7
  <%= f.submit "送出"%>
<% end %>
